apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: laravel
spec:
  selector:
    matchLabels:
      app: backend
      tier: backend
  replicas: 1
  template:
    metadata:
      labels:
        app: backend
        tier: backend
    spec:
      containers:
        - name: backend
          image: IMAGE_NAME_BACK
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
